# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
assets/manifest.json
dist
bower_components
node_modules
npm-debug.log
vendor
package.json
package-lock.json
composer.lock
**/.DS_Store
