.help-overlay {
	display: none;
	position: fixed;
	height: 100vh;
	width: 100vw;
	// background: rgba(0, 0, 0, .8);
	background: #222730;
	z-index: 200;
	top: 0;
	left: 0;

	min-height:100%;
    overflow-y:scroll;
    overflow-x:hidden;

	h3 {
		color: #fff;
		font-weight: 400;
		margin-bottom: 10px;

	}

	&.show {
		display: block;
	}

	.help-header {
		margin-top: 65px;
		margin-bottom: 20px;

		@include media-breakpoint-up(md) {
			margin-top: 30px;
		}

		h1,
		p {
			color: #fff;	
		}

		h1 {
			font-size: 26px;
			
			@include media-breakpoint-up(lg) {
				font-size: 45px;	
			}
		}

		p {
			font-size: 18px;

			@include media-breakpoint-up(lg) {
				font-size: 24px;
			}
		}
	}

	.help-close {
		width: 70px;
		position: absolute;
		right: 30px;
		top: 30px;
		height: 26px;
		z-index: 1;

		@include media-breakpoint-up(lg) {
			height: 100px;
			width: 136px;
		}

		span {
			font-size: 20px;
			color: #fff;
			background-image: url('../images/close.svg');
			background-repeat: no-repeat;
		    padding-left: 34px;
		    height: 26px;
		    display: inline-block;
		    background-size: 24px;
		    line-height: 1.2;

		    @include media-breakpoint-up(lg) {
		    	font-size: 30px;
		    	background-size: 45px;
		    	padding-left: 62px;
		    	line-height: 1.5;
		    	height: 50px;
			}

		    &:hover {
		    	text-decoration: underline;
		    	cursor: pointer;
		    }
		}
	}

	.mob-helper {
		display: none;
		cursor: pointer;
		position: fixed;
		height: 50px;
		top: 15px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;

		h3 {
			border: 1px solid #fff;
			padding: 10px 20px;
			background-color: #222730;
			font-size: 22px;
		}

		&.show {
			display: block;

			@include media-breakpoint-up(md) {
				display: none;
			}
		}
	}

	ul {
		padding: 0;

		li {
			color: #fff;
			list-style: none;
		}
	}

	label {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 8px;
		cursor: pointer;
		font-size: 18px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		@include media-breakpoint-up(lg) {
			margin-bottom: 12px;
		}

		&:before {
			content:" ";
			height: 22px;
			width: 22px;
			background: #fff;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		&.active:before {
			background-image: url('../images/check.svg');
			background-size: 22px;
			background-repeat: no-repeat;

		}
	}

	.help-results {
		margin-top: 20px;

		h2 {
			color: #fff;
			font-weight: 400;
		}

		.three-columns.item {
			margin: 0;
		}

		.post-content {
			h4 {
				color: #fff;
			}

			p {
				color: #fff;
			}
		}

		&>.row>div {
			animation: fadein 1s;
		}
	}

	.show-more {
		display: block;
		text-align: center;
	}

	.show-more-text {
		color: #222730;
		padding: 10px 20px;
		background-color: #fff;
		border-radius: 25px;
		display: inline-block;
		visibility: hidden;
	}

	.loader {
		margin-top: 20px;
		width: 100%;
		position: relative;
		height: 6px;
		overflow: hidden; 

		.line {
			visibility: hidden;
		}

		&.loading .line {
			width: 75px;
			display: inline-block;
			left: 0;
			height: 6px;
			visibility: visible;
			position: absolute;
			background-image: url('../images/loader-line.svg');
			background-repeat: no-repeat;
			animation-name: loaderLine;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
			animation-direction: alternate;
			transform: translateX(-50%);

			@include media-breakpoint-up(md) {
				width: 200px;
			}

			@include media-breakpoint-up(lg) {
				width: 300px;
			}
		}
	}

	@keyframes loaderLine {
		0% {
			left: 0%;
		}

		100% {
			left: 100%;
		}
	}

	@include media-breakpoint-up(lg) {

		@keyframes loaderLine {
			0% {
				transform: translateX(-150px);
			}

			100% {
				transform: translateX(715px);
			}
		}
	}
}